@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  margin: 1px;

  width: 75%;
  aspect-ratio: 16/9;
}

.image-caption {
  font-size: 0.75rem;
  font-style: italic;
  color: #9ca3af;
  margin: 0;
}
